/* General page styles */

html {
  background-attachment: fixed;
  background-color: rgb(229,229,229);
  background-image: url(../img/background-texture.png),
                    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
  color: #222;
  font-family: "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
  -moz-user-select: none;
  cursor: default;
}

body {
  font-size: small;
  color: #333
}

@font-face {
  font-family: 'Leckerli One';
  font-style: normal;
  font-weight: normal;
  src: url('Leckerli.woff') format('woff');
}

h1 {
  margin-bottom: 0;
}

h1, #share {
  font-family: 'Leckerli One', "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
  font-size: 2.2em;
}

#inner-body {
  margin: 0 auto;
  max-width: 825px;
  position: relative;
}

#meta {
  float: left;
  max-width: 400px;
  text-align: justify;
  position: relative;
}

#share {
  position: absolute;
  right: 0;
  top: 0;
}

/* Oh yes, your Gumdrop Buttons */
.button {
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
  font: 16px/48px "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
  letter-spacing: -0.25px;
  height: 48px;
  width: 252px;
  background-color: #2f597b;
  text-align: center;
  color: white;
  border-bottom: none;

  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;

  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255,255,255,0.2);

  /* IE10 */
  background-image: -ms-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #42a5e1), color-stop(1, #267cc2));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #42a5e1 0%, #267cc2 100%);

  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0s;

  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0s;

  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  transition-duration: 0.2s;
  transition-delay: 0s;
  line-height: 46px;
}

.button:hover {
  line-height: 42px;
  -webkit-box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);

  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0s;

  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0s;

  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.button:active {
  line-height: 48px;
  -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);

  -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-delay: 0s;

  -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  -moz-transition-duration: 0.1s;
  -moz-transition-delay: 0s;

  transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
  transition-duration: 0.1s;
  transition-delay: 0s;
}

.key {
  color: rgb(170,170,170);
  display: inline-block;
  width: 44px;
  height: 41px;
  text-align: center;
  line-height: 36px;
  margin: 5px;
  background-color: rgb(239,240,242);
  border-radius: 4px;
  border-top: 1px solid rgb(245,245,245);
  box-shadow: 0 0 25px rgb(232,232,232) inset,
              0 1px 0 rgb(195,195,195),
              0 2px 0 rgb(201,201,201),
              0 2px 3px rgb(51,51,51);
  text-shadow: 0 1px 0 rgb(245,245,245);
  cursor: pointer;
  -moz-user-select: none;
}

.key:hover {
  background: #fff;
}

.key:hover:active {
  color: #888;
  background: #ebeced;
  box-shadow: inset 0 0 25px #ddd,
              0 0 3px #333;
  border-top: 1px solid #eee;
}

.installed {
  display: none;
}

.shortcut {
  text-decoration: underline;
}

.notInstalledYet {
  display: none;
}

.purchaseNow > #inner-body {
  pointer-events: none;
  -moz-user-select: none;
}

.purchaseNow > #purchaseNowOverlay {
  display: block;
}

#purchaseNowOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
  background: -moz-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.9));
}

#purchaseNow {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 144px;
  padding: 10px;
  box-shadow: 0 0 10px #000;
  pointer-events: all;
  background: #fff url(../img/marketplace-glyph.png) no-repeat left;
  padding-left: 144px;
  -moz-user-select: none;
}

#purchaseNow > h2 {
  margin: 0;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

/* media queries */
@media screen and (max-width: 320px),
       screen and (max-height: 320px) {
  html {
    -moz-user-select: inherit; /* Too buggy on B2G */
  }

  body {
    margin: 0;
  }

  h1 {
    margin-left: 2%;
  }

  /* hide meta and title on small screens.  They may not even have visible keyboards */
  #meta {
    display: none;
  }
}

@media screen and (max-height: 320px) {
  body {
    padding: 0 6px;
  }

  h1 {
    display: none;
  }
}
