html { font-family: "Segoe UI", Helvetica, Verdana, Arial, sans-serif; color: #222; }
body { margin: 0; padding: 0; font-size: small; color: #333 }
a:hover {color:#ff3333}
a img {border:0}
h1 { font-size: large}
h2 { color: #222; padding-left:0; font-size: large; font-weight: normal; }
h2 a, h2 a:visited {color:#222;text-decoration:none}
table { border-collapse: collapse; }
fieldset {border:0;margin:15px;}
label {display:block;margin-top:2px;}
label:hover {}
textarea {display:block;border:1px solid #999;width:100%;height:140px}
td { vertical-align: top; }
p { margin: 10px 0 }
dl { margin-top: 0 }
dt { color: #a00; font-weight: bold }
dd { margin: 0 0 20px 0; color: #555 }
dl.options { margin: 10px 25px }
hr { height: 1px; margin-top:20px}

ul.links li {margin-bottom:4px}

#main { padding: 0 }
#main h1 { padding: 15px 10px 5px 0 }
#backnav { color: #fff; font-size: x-small; position: absolute; left: 10px; text-decoration: none}
#backnav:hover { color: #fff }

#content { padding: 20px; }
#busy { position: absolute; top: 7px; right: 7px; border: 1px ridge #ccc; background-color: #e95555; color: #eee; padding: 3px; display:none }
#footer { padding-top: 20px; margin-top: 30px; border-top: 1px solid #ddd; color: #888 }

/* Oh yes, your Gumdrop Buttons */
.button {
    float: left;
    display: block;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    font: 16px/48px 'OpenSans-Reg', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    letter-spacing: -0.25px;
    height: 48px;
    width: 252px;
    background-color: #2f597b;
    text-align: center;
    color: white;
    border-bottom: none;

    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;

    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(255,255,255,0.2);

    /* IE10 */
    background-image: -ms-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #42a5e1), color-stop(1, #267cc2));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #42a5e1 0%, #267cc2 100%);

    /* Proposed W3C Markup */
    background-image: linear-gradient(top, #42a5e1 0%, #267cc2 100%);

    -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0s;

    -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0s;

    transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    transition-duration: 0.2s;
    transition-delay: 0s;
    line-height: 46px;
}

.button:hover {
    line-height: 42px;
    -webkit-box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 1px 0px rgba(0, 0, 0, 0.2), inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);

    -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0s;

    -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    -moz-transition-duration: 0.2s;
    -moz-transition-delay: 0s;

    transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    transition-duration: 0.2s;
    transition-delay: 0s;
}

.button:active {
    line-height: 48px;
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2), inset 0px 12px 24px 6px rgba(0,0,0,0.2), inset 0px 0px 2px 2px rgba(0,0,0,0.2);

    -webkit-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-delay: 0s;

    -moz-transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    -moz-transition-duration: 0.1s;
    -moz-transition-delay: 0s;

    transition-property: -moz-box-shadow, -webkit-box-shadow, box-shadow, line-height;
    transition-duration: 0.1s;
    transition-delay: 0s;
}
