/*
 *
 * snake.css
 * (c) Richard Willis
 *
 */

html {
  height: 100%;
}

body {
  background-image: url(../img/background-texture.png),
                    -moz-linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
  background-color: rgb(229,229,229);
}

h1 {
  margin-bottom: 0;
}

#inner-body {
  margin: 0 auto;
  max-width: 900px;
}

#snake-col-map {
  width: 400px;
  margin-right: 40px;
  float: left;
}

#meta {
  float: left;
  width: 400px;
}

#map1 {
  margin-top:15px;
  width:400px;
  height:400px;
  position:relative;
  border:1px solid #aaa;
  overflow:hidden;
  text-align:center;
  background-color: #fff;
}
#overlay {
  position:absolute;
  width:400px;
  height:400px;
  background:#fff;
  z-index:100;
  opacity:0.5;
}
#stats {
  width:400px;
}
#map-msg {
  position:absolute;
  top:38%;
  left:0;
  width:100%;
  line-height:1;
  display:block;
  font-size:200%;
  z-index:101;
  text-align:center;
}
.snake, .wall {
  width:10px;
  height:10px;
  position:absolute;
  z-index:99;
  display:block;
  white-space:nowrap;
  overflow:hidden;
}
.snake {
  background:red;
}
.wall {
  background:#aaa url(../img/snake/grid_bg.gif) no-repeat;
}
#cherry {
  display:none;
  width:10px;
  height:10px;
  position:absolute;
  background:url(../img/snake/cherry.jpg) no-repeat 0 0;
  z-index:98;
}
#score {
  width:100px;
  height:50%;
  text-align:right;
  font-size:300%;
  font-weight:normal;
  padding:4px;
  border:1px solid #ccc;
}
#start-game {
  display: block;
  margin: 0 auto;
  float: none;
  background:#489615;
  background-image:-webkit-gradient(linear,left bottom,left top,from( #84c63c),to( #489615));
  background-image:linear-gradient(#84c63c, #489615);
  background-image:-moz-linear-gradient( #84c63c, #489615);
  background-image:-webkit-linear-gradient( #84c63c, #489615)
}
.scores {
  border:1px solid #ddd;
  width:360px;
}
.scroller {
  display:block;
  height:9.6em;
  overflow:auto;
}
.scores .col1 {
  width:8%;
  display:block;
  padding:0px 8px;
  float:left;
}
.scores .col2 {
  width:13%;
  display:block;
  padding:0px 8px;
  float:left;
  border-left:1px solid #fff;
}
.scores .col3 {
  width:61%;
  display:block;
  padding:0px 8px;
  float:left;
  border-left:1px solid #fff;
}

.scores .head {
  display:block;
  padding:2px 0px;
  font-weight:bold;
  background:url(../img/snake/score_head_bg.jpg) repeat-x left bottom;
  border-bottom:1px solid #ccc;
}

.head .col1, .head .col2 {}

.head .col2 {
  border-left:1px solid #bbb;
}
.head .col3 {
  border-left:1px solid #bbb;
}

.scores .row {
  display:block;
  border-bottom:1px solid #eee;
  padding:2px 0px
}

#info li {
  margin-bottom:1.1em;
}
#info li p {
  margin:0.4em 0em;
}

li.strike {
  text-decoration:line-through;
}

.clear { clear: both; }
.right { float: right; }

/* end snake.css */
